td.supply {
    text-align:center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #a2a2a2;
}

li {
    display: inline-block;
    list-style-type: none;
}

.cmd, li::first-letter {
    border: 1px outset;
    border-radius: 5px;
    font-weight: bold;
    color: red;
    background-color: white;
}
